<ordinary-header></ordinary-header>
<body style="margin-top: 130px;margin-bottom: 400px;">
  <h2 style="color: #28aae1; font-weight: bolder;"><u>Account Confirmation Page</u></h2>
  <h1 style="color: #28aae1; font-size: 24px;font-weight: bolder;" class="text-center">Your account has been confirmed. <a style="color: #28aae1; font-size: 24px;font-weight: bolder;" [routerLink]="['/login']" routerLinkActive="router-link-active" ><u>Please proceed to login <i class="fa fa-sign-in" ></i></u>....</a></h1>
</body>
<ordinary-footer></ordinary-footer>
