<ordinary-header></ordinary-header>
<!-- #####Carousel Welcome Area Start ##### -->
<div class="container-fluid">
  <section id="showcase">
    <carousel>
        <slide>
          <img src="../../../../../assets/images/carousel1.jpg" alt="first slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-3 text-primary">New Collection</h3>
            <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/login']">View Collection</a>
          </div>
        </slide>
        <slide>
          <img src="../../../../../assets/images/carousel2.jpg" alt="second slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h3 class="display-3 text-primary">Trending</h3>
            <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/login']">Go to Shop</a>
          </div>
        </slide>
        <slide>
          <img src="../../../../../assets/images/carousel3.jpg" alt="third slide" style="display: block; width: 100%;">
          <div class="carousel-caption d-none d-md-block">
            <h1 class="display-3 text-primary">Fashion News</h1>
            <a href="#" class="btn btn-primary btn-lg" [routerLink]="['/login']">Blog</a>
          </div>
        </slide>
      </carousel>

  </section>
</div>
<!-- ##### Carousel Welcome Area End ##### -->
<!-- ##### Top Category Area Start ##### -->
<div class="top_catagory_area section-padding-80 clearfix">
  <div class="container">
      <div class="row justify-content-center">
          <!-- Single Catagory -->
          <div class="col-12 col-sm-6 col-md-4">
              <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image:url(../../../../../../../assets/images/category1.jpg)">
                  <div class="catagory-content">
                      <a href="#" class="text-primary">Clothing</a>
                  </div>
              </div>
          </div>
          <!-- Single Catagory -->
          <div class="col-12 col-sm-6 col-md-4">
              <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../../../../../../assets/images/category2.jpg);">
                  <div class="catagory-content">
                      <a href="#" class="text-primary">Shoes</a>
                  </div>
              </div>
          </div>
          <!-- Single Catagory -->
          <div class="col-12 col-sm-6 col-md-4">
              <div class="single_catagory_area d-flex align-items-center justify-content-center bg-img" style="background-image: url(../../../../../../../assets/images/category3.jpg);">
                  <div class="catagory-content">
                      <a href="#" class="text-primary">Accessories</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ##### Top Category Area End ##### -->
<!-- ##### Global Sale Area Start ##### -->
<div class="cta-area">
  <div class="container">
      <div class="row">
          <div class="col-12">
              <div class="cta-content bg-img background-overlay" style="background-image: url(../../../../../../../assets/images/globalsale.jpg);">
                  <div class="h-100 d-flex align-items-center justify-content-end">
                      <div class="cta--text">
                          <h6>-60%</h6>
                          <h2>Global Sale</h2>
                          <a href="#" class="btn btn-primary btn-lg">Buy Now</a>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- ##### Global Area End ##### -->
<!-- ##### Brands Area Start ##### -->
<div class="brands-area d-flex align-items-center justify-content-between">
  <!-- Brand Logo -->
  <div class="single-brands-logo">
      <img src="../../.././../../assets/images/brand1.png" alt="">
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
      <img src="../../../../../assets/images/brand2.png" alt="">
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
      <img src="../../../../../assets/images/brand3.png" alt="">
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
      <img src="../../../../../assets/images/brand4.png" alt="">
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
      <img src="../../../../../assets/images/brand5.png" alt="">
  </div>
  <!-- Brand Logo -->
  <div class="single-brands-logo">
      <img src="../../../../../assets/images/brand6.png" alt="">
  </div>
</div>
<!-- ##### Brands Area End ##### -->
<ordinary-footer></ordinary-footer>