<footer class="footer">
    <div class="social-area">
    <ul><li><a href="https://www.facebook.com/blackpizza?fref=ts" target="_blank" title="Join us on Facebook" class="shr-btn-facebook"><span>Facebook</span><i class="fa fa-facebook"></i></a></li>
    <li><a href="http://instagram.com/blackpizzastudio" target="_blank" title="Join us on Instagram" class="shr-btn-instagram"><span>Instagram</span><i class="fa fa-instagram"></i></a></li>
    <li><a href="https://soundcloud.com/dailydose-sound" target="_blank" title="Join us on Soundcloud" class="shr-btn-soundcloud"><span>Soundcloud</span><i class="fa fa-soundcloud"></i></a></li></ul></div>
    <div class="credits">
    <p style="color: #28aae1;">©2020 <span>EkoShop</span></p><img src="../../../../../assets/images/SiteLogo.png" alt="Pizz and love" width="200px;"></div>
    </footer>