<ngx-loading [show]="loading"></ngx-loading>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="icon" href="../../../../../assets/images/favicon.ico" />

    <title>Admin - Log in</title>

    <!-- Vendors Style-->
    <link rel="stylesheet" href="../../../../../assets/css/vendors_css.css" />

    <!-- Style-->
    <link rel="stylesheet" href="../../../../../assets/css/style.css" />
    <link rel="stylesheet" href="../../../../../assets/css/skin_color.css" />
  </head>
  <style>
    .increaseHeight {
      height: 450px !important;
      margin-top: 70px;
    }
  </style>
  <ordinary-header></ordinary-header>
  <body>
    <div class="container h-p100">
      <div
        class="row align-items-center justify-content-md-center h-p100 increaseHeight"
      >
        <div class="col-12">
          <div class="row justify-content-center no-gutters increaseHeight">
            <div class="col-lg-4 col-md-5 col-12">
              
              <div class="rounded5 ">
                
                <div class="p-30 login-form">
                  
                  <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
                    <h3 class="text-center"><i class="fa fa-lock fa-4x"></i></h3>
                  <h2 class="text-center">Forgot Password?</h2>
                  <p>You can reset your password here.</p>
                    <div class="form-group">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text bg-transparent"
                            ><i class="fa fa-user"></i
                          ></span>
                        </div>
                        <input
                          type="text"
                          class="form-control pl-15 bg-transparent plc-white"
                          placeholder="Email"
                          formControlName="email"
                          [ngClass]="{
                            'is-invalid':
                            forgotPasswordForm.get('email').errors && submitted
                          }"
                        />
                        <span class="invalid-feedback">
                          <span
                            *ngIf="forgotPasswordForm.get('email').errors && submitted"
                          >
                            <span
                              *ngIf="forgotPasswordForm.hasError('required', 'email')"
                            >
                              <span class="text-danger">
                                Please enter an Email
                              </span>
                            </span>
                            <span *ngIf="forgotPasswordForm.hasError('email', 'email')">
                              <span class="text-danger">
                                Please enter a Valid Email
                              </span>
                            </span>
                          </span>
                        </span>
                      </div>
                    </div>
                    <div class="row">
                      <!-- /.col -->
                      <div class="col-12 text-center">
                        <button
                          type="submit"
                          class="btn btn-primary mt-10"
                          [disabled]= "!forgotPasswordForm.valid"
                        >
                         Reset Password
                        </button>
                      </div>
                    
                      <!-- /.col -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Vendor JS -->
    <script src="../../../../../assets/javascript/vendors.min.js"></script>
  </body>
  <ordinary-footer></ordinary-footer>
</html>
